body {
  width: 100%;
  height: 100%;
  margin: 0;
  text-align:center;
}

h1 {
  text-align:center;
}
figcaption {
  text-align:center;
  font-size: smaller;
}
nav a {
  text-align: center;
  padding: 10px;
  background-color: rgb(192, 22, 138);
}
#featured-property {
  display: flex;
  flex-direction: column;
  align-items: center;
}
#featured-property p {
  width: 800px;
  margin: 10px auto;
  text-align: center;
}

#details div {
  float: left;
  text-align: center;
  width: 25%;
  background: #ff0000;
}
